body {
  color: #999999;
}

.sign_in {
  background-color: #94c9d0;
}

.navigation-bar {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

p {
  color: #999999;
}

.ma {
  color: #ee7835;
}

a {
text-decoration: none;
}

// 背景色       #94c9d0
// ボタン色     #ee7835
// 文字色       #999999